@import url(https://fonts.googleapis.com/css?family=Raleway:700);
h1, .h1 {
  font-family: "Raleway", sans-serif; }

.vcenter {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateX(50%) translateY(calc(-50% - 10px));
  -webkit-filter: blur(0.0px); }

.startVCenter {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translateX(50%) translateY(-50%);
  -webkit-filter: blur(0.0px); }

.buttonPosRight {
  position: absolute;
  bottom: 6%;
  right: 5%; }

.buttonPosLeft {
  position: absolute;
  bottom: 6%;
  left: 5%; }

.buttonQuit {
  position: absolute;
  top: 6vh;
  right: 10vw;
  transform: translateX(50%); }

.buttonFinish {
  position: absolute;
  bottom: 6vh;
  right: 10vw;
  transform: translateX(50%); }

body, html {
  height: 100%; }

.screen {
  background-color: #F3F3F3;
  height: 100%; }

label {
  height: 50px;
  font-size: 14px; }

div {
  font-size: 14px; }

.inscreen {
  padding: 0px;
  margin: auto;
  height: 100%;
  width: 100%;
  background-color: #F3F3F3; }

div.item {
  height: 50px;
  overflow: hidden; }

.showTime {
  -webkit-filter: blur(0.0px);
  width: 70px; }

.rightTimer {
  position: absolute;
  font-size: 5vw;
  top: 50%;
  right: 10vw;
  transform: translateX(50%) translateY(-50%); }

.outsideWrapper {
  width: 80%;
  height: 100%;
  left: 0px;
  position: absolute; }

.insideWrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.coveredImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }

.coveringCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px; }
